<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Программа</title>
    <link rel="stylesheet" href="../public/css/program-style.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <link rel="shortcut icon" href="../public/images/logo2.png">
</head>

<body>
    <header>
        <div class="bar">
            <h1>Long Life 2.0</h1>
            <a href="/virtual-sensor" class="vspd-button">Виртуальный датчик</a>
            <a href="/prediction" class="vspd-button">Прогноз на сутки</a>
            <a href="/" class="exit-button">Выход</a>
        </div>
    </header>
    <section class="flex-form" id="user-form">
        <div class="vertical-style-box">
        </div>
        <div class="forms">
            <form method="POST" action="/load-form" enctype="multipart/form-data">
                <div class="form-group">
                    <label for="exampleFormControlSelect1">Выберите тип запроса</label>
                    <select class="form-control" name="requestType" id="exampleFormControlSelect1">
                        <option value="0">Не выбрано</option>
                        <option value="1">Виртуальный датчик</option>
                        <option value="2">Прогноз на сутки</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="exampleFormControlInput1">Дата последнего ремонта</label>
                    <input type="date" name="date" class="form-control" id="exampleFormControlInput1">
                </div>
                <!-- <div class="form-group">
                    <label for="exampleFormControlInput1">Имя документа</label>
                    <input type="text" name="documentName" class="form-control" id="exampleFormControlInput1">
                </div> -->
                <div class="form-group">
                    <label for="exampleFormControlFile1">Данные о трансформаторе</label>
                    <input type="file" class="custom-file-input" name="filedata">
                </div>
                <div class="form-group">
                    <label for="email">Введите e-mail</label>
                    <input type="text" name="userEmail">
                </div>
                <div class="form-group">
                    <label for="password">Введите пароль</label>
                    <input type="password" name="password">
                </div>
                <button type="submit" class="btn-btn-primary-mb-2" id="load-btn">Запуск аналитики</button>
            </form>
        </div>
        <div class="vertical-style-box">
        </div>
    </section>

    <% include blocks/footer.ejs %>

    <script src="../public/scripts/loadProgram.js"></script>
</body>

</html>