.dws-resetpass
{
    padding: 13px 80px;
    margin: 5px 0 20px 0;
    font-size: 18px;
    width: 320px;
    margin-left: -3px;
    text-decoration: none;
    font-family: "Andale Mono", monospace;
    color: #fff;
    background-color: #2ca8c6;
    border: none;
    border-bottom: 4px solid #6ee9fd;
    cursor: pointer;
}

.dws-register
{
    padding: 13px 30px;
    margin: 5px 0 20px 0;
    font-size: 18px;
    width: 320px;
    text-decoration: none;
    font-family: "Andale Mono", monospace;
    color: #fff;
    background-color: #2ca8c6;
    border: none;
    border-bottom: 4px solid #6ee9fd;
    cursor: pointer;
}

#submit-div {
    /* display: none; */
}

.dws-resetpass:hover
{
    transition: all 0.25s;
    background: #2cafd6;
    color: #2c536c

}
.dws-register:hover
{
    transition: all 0.25s;
    background: #2cafd6;
    color: #2c536c;
}

.container
{
    width: 450px;
    height: 600px;
    margin: 16px auto 0 auto;
    text-align: center;
    /*
    box-shadow: 5px 5px 9px #999999;
    border-radius: 4px
    */
}

input[type = "text"], input[type = "password"], input[type = "email"]
{
    width: 300px;
    height: 50px;
    font-size: 18px;
    margin-bottom: 25px;
    border-radius: 4px;
    padding-left: 16px;
}

.account-pic
{
    width: 320px;
    margin-bottom: 16px;
    margin-top: 10px;
}

.dws-submit
{
    padding: 13px 30px;
    margin: 5px 0 20px 0;
    font-size: 18px;
    width: 320px;
    font-family: "Andale Mono", monospace;
    color: #ffffff;
    background-color: #2ca8c6;
    border: none;
    border-bottom: 4px solid #6ee9fd;
    cursor: pointer;
}
.dws-submit:hover
{
    transition: all 0.25s;
    background: #2cafd6;
    color: #2c536c

}


.dws-input input:hover
{
    box-shadow: 0 0 6px 3px rgba(58, 219, 253, 0.35);
}

.dws-mail input:hover
{
    box-shadow: 0 0 6px 3px rgba(58, 219, 253, 0.35);
}

.dws-input
{
    border: none;
}
.dws-mail
{
    border: none;
}

#inputError {
    width: 312px;
    display: none;
    border: 4px solid red;
    border-radius: 4px;
    margin: 0 auto;
    margin-bottom: 25px;
    font-size: 18px;
    font-family: "Andale Mono", monospace;
}