#slider { /*положение слайдера*/
    position: relative;
	text-align: center;
    vertical-align: bottom;
}

#slider{ /*центровка слайдера*/
	margin: 0 auto;
}

#slides article{ /*все изображения справа друг от доруга*/
	width: 8.33333%;
	float: left;
}

#slides .image{ /*устанавливает общий размер блока с изображениями*/
	width: 300%;
	line-height: 0;
}

#overflow{ /*сркывает все, что находится за пределами этого блока*/
	width: 100%;
	overflow: hidden;
}

article img{ /*размер изображений слайдера*/
	width: 100%;
}

#desktop:checked ~ #slider{ /*размер всего слайдера*/
	max-width: 100%; /*максимальнная длинна*/
}


label, a{ /*при наведении на стрелки или переключатели - курсор изменится*/
	cursor: pointer;
}

.bottom-slide input{ /*скрывает стандартные инпуты (чекбоксы) на странице*/
	background: linear-gradient(-30deg, #0d2d3b, #003c57);
	display: none;
	
}
/*позиция изображения при активации переключателя*/
#switch1:checked ~ #slides .image{
	margin-left: 0;
}

#switch2:checked ~ #slides .image{
	margin-left: -100%;
}

#switch3:checked ~ #slides .image{
	margin-left: -200%;
}

#active label{ /*стиль отдельного переключателя*/
	border-radius: 10px; /*скругление углов*/
	display: inline-block; /*расположение в строку*/
	width: 15px;
	height: 15px;
	background: #bbb;
}

#active{ /*расположение блока с переключателями*/
	margin: 0 0 0;
	text-align: center;
}

#active label:hover{ /*поведение чекбокса при наведении*/
	background: #76c8ff;
	border-color: #777 !important; /*выполнение в любом случае*/
}

/*цвет активного лейбла при активации чекбокса*/
#switch1:checked ~ #active label:nth-child(1),
#switch2:checked ~ #active label:nth-child(2),
#switch3:checked ~ #active label:nth-child(3){
	background: #18a3dd;
	border-color: #18a3dd !important;
}

#slides .image{ /*анимация пролистывания изображений*/
	transition: all 800ms cubic-bezier(0.770, 0.000, 0.175, 1.000);
}

.one-el-slide {
	display: block;
}

.one-el-slide-img{
    margin-bottom: 15px;
    margin-left: auto;
    margin-right: auto;
	width:33%;
}
.one-el-slide-img:hover{
	cursor: pointer;
	animation: moving 2s linear;
}

/* создание анимации «moving» */
@keyframes moving {
    100% {transform: rotate(-360deg);}
}

.one-el-slide-title p{
    min-height: 15px;
    font-size: 20px;
	font-family: 'Montserrat', sans-serif;
	color: #241f66;
}

.info-for-preson
{
	color: #868686;
	font-size: 10px;
}
.social-icon
{
    width: 32px;
}

.info-slider-person
{
	font-size: 16px;
	font-family: 'Montserrat', sans-serif;
	color: #868686;
}

.slider-heading
{
	font-size: 32px;
	font-family: 'Montserrat', sans-serif;
	font-weight: bolder;
	color: #241f66;
}