<div class="bottom-slide">
    <input checked type="radio" name="respond" id="desktop">
    <article id="slider">
        <input checked type="radio" name="slider" id="switch1">
        <input type="radio" name="slider" id="switch2">
        <input type="radio" name="slider" id="switch3">

        <div id="slides">
            <h1 class="slider-heading">Команда разработки</h1>
            <div id="overflow">
                <div class="image">
                    <article>
                        <div class="one-el-slide">
                            <div class="one-el-slide-img">
                                <img src="../public/images/PepIcon/artem-icon.png">
                            </div>
                            <div class="one-el-slide-title">
                                <p>
                                    <b>Артем Коньков</b><br />

                                </p>
                                <p class="info-for-person">
                                    Программист Python
                                </p>
                                <a href="https://vk.com/crabentos"><img class="social-icon"
                                        src="../public/images/VK.icon.png"></a>
                                <a href="https://vk.com/crabentos"><img class="social-icon"
                                        src="../public/images/instagram.icon.png"></a>
                                <a href="https://vk.com/crabentos"><img class="social-icon"
                                        src="../public/images/telegram.icon.png"></a>
                            </div>
                        </div>
                    </article>
                    <article>
                        <div class="one-el-slide">
                            <div class="one-el-slide-img">
                                <img src="../public/images/PepIcon/seva-icon.png">
                            </div>
                            <div class="one-el-slide-title">
                                <p><b>
                                        Всеволод Золотов</b><br />

                                </p>
                                <p class="info-for-person">
                                    Fullstack-Developer
                                </p>
                                <a href="https://vk.com/valterzeskodt"><img class="social-icon"
                                        src="../public/images/VK.icon.png"></a>
                                <a href="https://vk.com/valterzeskodt"><img class="social-icon"
                                        src="../public/images/instagram.icon.png"></a>
                                <a href="https://vk.com/valterzeskodt"><img class="social-icon"
                                        src="../public/images/telegram.icon.png"></a>
                            </div>
                        </div>
                    </article>

                    <article>
                        <div class="one-el-slide">
                            <div class="one-el-slide-img">
                                <img src="../public/images/PepIcon/dima-icon.png">
                            </div>
                            <div class="one-el-slide-title">
                                <p>
                                    <b>Дмитрий Еремеев</b><br />

                                </p>
                                <p class="info-for-person">
                                    Программист Deep Learning
                                </p>
                                <a href="https://vk.com/eremeev2002ы"><img class="social-icon"
                                        src="../public/images/VK.icon.png"></a>
                                <a href="https://vk.com/eremeev2002ы"><img class="social-icon"
                                        src="../public/images/instagram.icon.png"></a>
                                <a href="https://vk.com/eremeev2002ы"><img class="social-icon"
                                        src="../public/images/telegram.icon.png"></a>
                            </div>
                        </div>
                    </article>

                    <article>
                        <div class="one-el-slide">
                            <div class="one-el-slide-img">
                                <img src="../public/images/PepIcon/cool-girl.png">
                            </div>
                            <div class="one-el-slide-title">
                                <p>
                                    <b>Юлия Прохорова</b><br />

                                </p>
                                <p class="info-for-person">
                                    Дизайнер
                                </p>
                                <a href="https://vk.com/yulya.prokhorova"><img class="social-icon"
                                        src="../public/images/VK.icon.png"></a>
                                <a href="https://vk.com/yulya.prokhorova"><img class="social-icon"
                                        src="../public/images/instagram.icon.png"></a>
                                <a href="https://vk.com/yulya.prokhorova"><img class="social-icon"
                                        src="../public/images/telegram.icon.png"></a>
                            </div>
                        </div>
                    </article>

                    <article>
                        <div class="one-el-slide">
                            <div class="one-el-slide-img">
                                <img src="../public/images/PepIcon/nastya-icon.png">
                            </div>
                            <div class="one-el-slide-title">
                                <p><b>Анастасия Носаль</b></p>
                                <p class="info-for-person">
                                    Аналитик, дизайнер
                                </p>
                                <a href="https://vk.com/id187197366"><img class="social-icon"
                                        src="../public/images/VK.icon.png"></a>
                                <a href="https://vk.com/id187197366"><img class="social-icon"
                                        src="../public/images/instagram.icon.png"></a>
                                <a href="https://vk.com/id187197366"><img class="social-icon"
                                        src="../public/images/telegram.icon.png"></a>
                            </div>

                        </div>
                    </article>

                    <article>
                        <div class="one-el-slide">
                            <div class="one-el-slide-img">
                                <img src="../public/images/PepIcon/nazar-icon.png">
                            </div>
                            <div class="one-el-slide-title">
                                <p>
                                    <b>Симчук Назар</b>
                                </p>
                                <p class="info-for-person">
                                    Мастер на все руки
                                </p>
                                <a href="https://vk.com/technotche"><img class="social-icon"
                                        src="../public/images/VK.icon.png"></a>
                                <a href="https://vk.com/technotche"><img class="social-icon"
                                        src="../public/images/instagram.icon.png"></a>
                                <a href="https://vk.com/technotche"><img class="social-icon"
                                        src="../public/images/telegram.icon.png"></a>
                            </div>
                        </div>
                    </article>

                    <article>
                        <div class="one-el-slide">
                            <div class="one-el-slide-img">
                                <img src="../public/images/PepIcon/tima-icon.png">
                            </div>
                            <div class="one-el-slide-title">
                                <p>
                                    <b>Тимофей Котенёв</b><br />
                                </p>
                                <p class="info-for-person">
                                    Аналитик
                                </p>
                                <a href="https://vk.com/id263432760"><img class="social-icon"
                                        src="../public/images/VK.icon.png"></a>
                                <a href="https://vk.com/id263432760"><img class="social-icon"
                                        src="../public/images/instagram.icon.png"></a>
                                <a href="https://vk.com/id263432760"><img class="social-icon"
                                        src="../public/images/telegram.icon.png"></a>
                            </div>
                        </div>
                    </article>

                    <article>
                        <div class="one-el-slide">
                            <div class="one-el-slide-img">
                                <img src="../public/images/PepIcon/sasha-icon.png">
                            </div>
                            <div class="one-el-slide-title">
                                <p><b>Сабина Фирсунина</b></p>
                                <p class="info-for-person">
                                    Дизайнер, экономист
                                </p>
                                <a href="https://vk.com/s_nazi"><img class="social-icon"
                                        src="../public/images/VK.icon.png"></a>
                                <a href="https://vk.com/s_nazi"><img class="social-icon"
                                        src="../public/images/instagram.icon.png"></a>
                                <a href="https://vk.com/s_nazi"><img class="social-icon"
                                        src="../public/images/telegram.icon.png"></a>
                            </div>
                        </div>
                    </article>

                    <article>
                        <div class="one-el-slide">
                            <div class="one-el-slide-img">
                                <img src="../public/images/PepIcon/polina-icon.png">
                            </div>
                            <div class="one-el-slide-title">
                                <p><b>Полина Ярош</b></p>
                                <p class="info-for-person">
                                    Экономист
                                </p>
                                <a href="https://vk.com/id249779601"><img class="social-icon"
                                        src="../public/images/VK.icon.png"></a>
                                <a href="https://vk.com/id249779601"><img class="social-icon"
                                        src="../public/images/instagram.icon.png"></a>
                                <a href="https://vk.com/id249779601"><img class="social-icon"
                                        src="../public/images/telegram.icon.png"></a>
                            </div>
                        </div>
                    </article>

                    <article>
                        <div class="one-el-slide">
                            <div class="one-el-slide-img">
                                <img src="../public/images/PepIcon/nikita-elist-icon.png">
                            </div>
                            <div class="one-el-slide-title">
                                <p>
                                    <b>Никита Елистратов</b><br />
                                </p>
                                <p class="info-for-person">
                                    Аналитик
                                </p>
                                <a href="https://vk.com/riddlered"><img class="social-icon"
                                        src="../public/images/VK.icon.png"></a>
                                <a href="https://vk.com/riddlered"><img class="social-icon"
                                        src="../public/images/instagram.icon.png"></a>
                                <a href="https://vk.com/riddlered"><img class="social-icon"
                                        src="../public/images/telegram.icon.png"></a>
                            </div>
                        </div>
                    </article>

                    <article>
                        <div class="one-el-slide">
                            <div class="one-el-slide-img">
                                <img src="../public/images/PepIcon/nikita-icon.png">
                            </div>
                            <div class="one-el-slide-title">
                                <p>
                                    <b>Никита Тижин</b><br />
                                </p>
                                <p class="info-for-person">
                                    Аналитик, программист
                                </p>
                                <a href="https://vk.com/ntizhin"><img class="social-icon"
                                        src="../public/images/VK.icon.png"></a>
                                <a href="https://vk.com/ntizhin"><img class="social-icon"
                                        src="../public/images/instagram.icon.png"></a>
                                <a href="https://vk.com/ntizhin"><img class="social-icon"
                                        src="../public/images/telegram.icon.png"></a>
                            </div>
                        </div>
                    </article>

                    <article>
                        <div class="one-el-slide">
                            <div class="one-el-slide-img">
                                <img src="../public/images/PepIcon/liza-icon.png">
                            </div>
                            <div class="one-el-slide-title">
                                <p><b>Лиза Тихонова</b></p>
                                <p class="info-for-person">
                                    Аналитик
                                </p>
                                <a href="https://vk.com/betty_tihon"><img class="social-icon"
                                        src="../public/images/VK.icon.png"></a>
                                <a href="https://vk.com/betty_tihon"><img class="social-icon"
                                        src="../public/images/instagram.icon.png"></a>
                                <a href="https://vk.com/betty_tihon"><img class="social-icon"
                                        src="../public/images/telegram.icon.png"></a>
                            </div>
                        </div>
                    </article>

                </div>
            </div>
        </div>
        <div id="controls">
            <label for="switch1"></label>
            <label for="switch2"></label>
            <label for="switch3"></label>
        </div>
        <div id="active">
            <label for="switch1"></label>
            <label for="switch2"></label>
            <label for="switch3"></label>
        </div>
    </article>
</div>