<footer>
    <div class="copyright">
        <p class="footer-text1">LongLifeDevelop Team</p>
        <div>
            <img src="../../public/images/logo.png" class="logo">
            <img src="../../public/images/logo-ros.png" class="logo-ros">
        </div>
        <p class="footer-text2">All rights reserved ©</p>

        <!-- <iframe class = "map" width="600" scrolling="no" height="250" frameborder="0" marginheight="0" marginwidth="0" src="https://maps.google.com/maps/ms?msa=0&amp;msid=212293895215495038934.0004ea90c7098989bfc2f&amp;hl=ru&amp;ie=UTF8&amp;t=m&amp;ll=55.713792,37.388148&amp;spn=0.010879,0.025706&amp;z=15&amp;output=embed"></iframe> -->
    </div>
</footer>