<div class = "protect-electro fade" id="slide1">Безопасная энергосистема</div>
<div class = "protect-electro fade" id="slide2">Точная оценка</div>
<div class = "protect-electro fade" id="slide3">Максимальная эффективность</div>