<div id="intro">
    <div class="topnav">
        <div>
            <a href="/registration" class="nav">Регистрация</a>
        </div>
    </div>
    <div class="topnav">
        <div>
            <a href="/" class="nav">Главная</a>
        </div>
        <div>
            <a href="/program" class="nav">Программа</a>

        </div>
        <div>
            <a href="/about-us" class="nav">О проекте</a>
        </div>
    </div>
    <div class="intro-text">
        <article><b>Анализируйте своё оборудование с Long&nbspLife</b></article>
    </div>
    <div class="subintro-text">
        <article>Умный продукт, работающий на базе машиного обучения и нейронных сетей</article>
    </div>
</div>